#grid {
  background-color: black;
  height:50rem;
  width:auto;
  display: grid;
  gap:2rem;
  grid-template-columns: 1fr,1fr,1fr;
  grid-template-rows: auto;
  overflow: scroll;
}

.grid-item {

  background-color: rgb(153, 153, 153);
  color:black
}